<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
<p>&nbsp;</p>
<p></p>
<h2>{{ flatpage.title }}</h2>
<hr />
<p><span style="color: #ff0000;">Наша биография:</span></p>
<h2><span style="text-decoration: underline;"><em><span style="color: #ff0000; text-decoration: underline;">1. Start</span></em></span></h2>
<h2><span style="color: #00ff00;"><span style="color: #00ff00;"><span style="color: #ff0000;">2. Finish&nbsp;<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></span></span></span></h2>
<p>{{ flatpage.content }}</p>
</body>
</html>